<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #app > div {
            width: 300px;
            height: 250px;
            margin: 3px;
            float: left;
        }

        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1> axios 사용할 때 </h1>
        <div>
            <div>
                <a href="#" id="menu1" v-on:click="clickMenu1">메뉴 보기 1:</a>
            </div>
            <br>
            <a href="http://localhost:5050/text" target="_blank">http://localhost:5050/text</a>
            <p>
                <span id="message1" v-text="message1"> ? </span>
            </p>
        </div>
        <div>
            <div>
                <a href="#" id="menu2" v-on:click="clickMenu2">메뉴 보기 2:</a>
            </div>
            <br>
            <a href="http://localhost:5050/html" target="_blank">http://localhost:5050/html</a>
            <p>
                <span id="message2" v-html="message2"> ?? </span>
            </p>
        </div>
        <div>
            <div>
                <a href="#" id="menu3" v-on:click="clickMenu3">메뉴 보기 3:</a>
            </div>
            <br>
            <a href="http://localhost:5050/json" target="_blank">http://localhost:5050/json</a>
            <p>
                <span>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>price</th>
                            <th>description</th>
                        </tr>
                        <tr v-for="(item, index) in message3" :key="item.id">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </table>
                </span>
            </p>
        </div>
        <div>
            <div>
                <a href="#" id="menu4" v-on:click="clickMenu4">메뉴 보기 4:</a>
            </div>
            <br>
            <a href="http://localhost:5050/xml" target="_blank">http://localhost:5050/xml</a>
            <p>
                <span>
                    <table>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>price</th>
                            <th>description</th>
                        </tr>
                        <tr v-for="(item, index) in message4" :key="item.id">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.description}}</td>
                        </tr>
                    </table>
                </span>
            </p>
        </div>

    </div>
</body>

</html>

<!-- vue 플러그인 임포트   -->
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js">/* vue 플러그인 임포트 */</script>
<script src="https://unpkg.com/axios/dist/axios.min.js">/* axios : vue 비동기 처리 플러그인 임포트 */</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> /* jQuery library */</script>
<script>
    
    new Vue({
        /* edtmc^2w */
        el: "#app",
        data: {
            message1: "a",
            message2: "b",
            message3: [],
            message4: [],
        },
        //template: ``,
        methods: {
            clickMenu1: function (event) {

                axios({
                    url: "http://localhost:5050/text",  // 호출되는 서버 주소.
                    method: "get",       // request method: get, post, delete, put
                    params: {},  // 서버로 보내는 데이터. { data1:"test1", data2:"test2" }
                    timeout:  30000,    // 최대 대기 시간: 30초. 30초 이상이 되면 fail 부분이 실행됨.
                    responseType: "text",  // response로 넘어오는 데이터 형태: text, html, xml, json, jsonp, script
                })
                .then((res) => {
                    // 통신이 성공적으로 이루어졌을 때 이 함수를 타게 된다.
                    console.log(res);
                    this.$data.message1 = res.data;
                })
                .catch((err) => {
                    // 통신이 실패했을 때 이 함수를 타게 된다.
                    console.log(err);
                });
            },
            clickMenu2: function (event) {

                axios({
                    url: "http://localhost:5050/html", // 호출되는 서버 주소.
                    method: "get",       // request method: get, post, delete, put
                    params: {},  // 서버로 보내는 데이터. { data1:"test1", data2:"test2" }
                    timeout: 30000,    // 최대 대기 시간: 30초. 30초 이상이 되면 fail 부분이 실행됨.
                    responseType: "html",  // response로 넘어오는 데이터 형태: text, html, xml, json, jsonp, script
                })
                .then((res) => {
                    // 통신이 성공적으로 이루어졌을 때 이 함수를 타게 된다.
                    console.log(res);
                    this.$data.message2 = res.data;
                })
                .catch((err) => {
                    // 통신이 실패했을 때 이 함수를 타게 된다.
                    console.log(err);
                });

            },
            clickMenu3: function (event) {
            
                axios({
                    url: "http://localhost:5050/json",  // 호출되는 서버 주소.
                    method: "get",       // request method: get, post, delete, put
                    params: {},  // 서버로 보내는 데이터. { data1:"test1", data2:"test2" }
                    timeout: 30000,    // 최대 대기 시간: 30초. 30초 이상이 되면 fail 부분이 실행됨.
                    responseType: "json",  // response로 넘어오는 데이터 형태: text, html, xml, json, jsonp, script
                })
                .then((res) => {
                    // 통신이 성공적으로 이루어졌을 때 이 함수를 타게 된다.
                    console.log(res.data);
                    //this.$data.message3 = res.data;
                    Vue.set(this.$data, "message3", res.data);
                })
                .catch((err) => {
                    // 통신이 실패했을 때 이 함수를 타게 된다.
                    console.log(err);
                });
            },
            clickMenu4: function (event) {
            
                axios({
                    url: "http://localhost:5050/xml",  // 호출되는 서버 주소.
                    method: "get",       // request method: get, post, delete, put
                    params: {},  // 서버로 보내는 데이터. { data1:"test1", data2:"test2" }
                    timeout: 30000,    // 최대 대기 시간: 30초. 30초 이상이 되면 fail 부분이 실행됨.
                    responseType: "xml",  // response로 넘어오는 데이터 형태: text, html, xml, json, jsonp, script
                })
                .then((res) => {
                    // 통신이 성공적으로 이루어졌을 때 이 함수를 타게 된다.
                    console.log(res);

                    var list = [];
                    data = $(res.data).find("item");

                    for (var i = 0; i < data.length; i = i + 1) {
                        var item = data[i];
                        var obj = {};

                        obj["id"] = $(item).attr("id");
                        obj["name"] = $(item).attr("name");
                        obj["price"] = $(item).children("price").text();
                        obj["description"] = $(item).children("description").text();
                        list.push(obj);
                    }
                    this.$data.message4 = list;
                })
                .catch((err) => {
                    // 통신이 실패했을 때 이 함수를 타게 된다.
                    console.log(err);
                });
            },
        },
        components: { }, 
        computed: {
    
        },
        watch: {
    
        },
        mounted: function() {
            console.log("mounted");
        },
        updated: function() {
            console.log("updated");
        },
    });
</script>
